# Map Details
WORKER_ANT_INITIAL_HEALTH = 3
SOLDIER_ANT_INITIAL_HEALTH = 5
COLONY_INITIAL_BREAD = 0
COLONY_INITIAL_GRASS = 0
GENERATE_WORKER_BREAD_AMOUNT = 10
GENERATE_SOLDIER_GRASS_AMOUNT = 20
ANT_MAX_VIEW_DISTANCE = 4
ANT_MAX_ATTACK_DISTANCE = 4
ANT_ATTACK_DAMAGE = 1
CHAT_LIMIT = 5
MAX_MESSAGE_LENGTH = 32
GAME_MAXIMUM_TURN_COUNT = 50
RATE_DEATH_RESOURCE = 0.8
MAP_WIDTH = 32
MAP_HEIGHT = 32
BASE_MAX_ATTACK_DISTANCE = 6
BASE_ATTACK_DAMAGE = 3
BASE_INIT_HEALTH = 10
WORKER_MAX_CARRYING_RESOURCE_AMOUNT = 10;

# Number of agents for EACH TEAM
# SCORPION = Soldier, ANT = Worker :)
INIT_SCORPIONS = 0
INIT_ANTS = 4

READ_MAP_FROM_FILE = true