# Map Details
WORKER_ANT_INITIAL_HEALTH = 2
SOLDIER_ANT_INITIAL_HEALTH = 3
COLONY_INITIAL_BREAD = 0
COLONY_INITIAL_GRASS = 0
GENERATE_WORKER_BREAD_AMOUNT = 10
GENERATE_SOLDIER_GRASS_AMOUNT = 20
ANT_MAX_VIEW_DISTANCE = 4
ANT_MAX_ATTACK_DISTANCE = 3
ANT_ATTACK_DAMAGE = 1
CHAT_LIMIT = 5
MAX_MESSAGE_LENGTH = 24
GAME_MAXIMUM_TURN_COUNT = 50
RATE_DEATH_RESOURCE = 1
MAP_WIDTH = 21
MAP_HEIGHT = 21
BASE_MAX_ATTACK_DISTANCE = 6
BASE_ATTACK_DAMAGE = 2
BASE_INIT_HEALTH = 20
WORKER_MAX_CARRYING_RESOURCE_AMOUNT = 10;
# should be divisable by 4
INIT_ANTS_NUM = 4

READ_MAP_FROM_FILE = true