# Map Details
WORKER_ANT_INITIAL_HEALTH = 10
SOLDIER_ANT_INITIAL_HEALTH = 10
COLONY_INITIAL_BREAD = 0
COLONY_INITIAL_GRASS = 0
GENERATE_WORKER_BREAD_AMOUNT = 20
GENERATE_SOLDIER_GRASS_AMOUNT = 20
ANT_MAX_VIEW_DISTANCE = 2
ANT_MAX_ATTACK_DISTANCE = 2
ANT_ATTACK_DAMAGE = 2
CHAT_LIMIT = 2
MAX_MESSAGE_LENGTH = 100
GAME_MAXIMUM_TURN_COUNT = 25
RATE_DEATH_RESOURCE = 1
MAP_WIDTH = 10
MAP_HEIGHT = 10
BASE_MAX_ATTACK_DISTANCE = 2
BASE_ATTACK_DAMAGE = 2
BASE_INIT_HEALTH = 100
# should be divisable by 4
INIT_ANTS_NUM = 4