WORKER_ANT_INITIAL_HEALTH = 3
SOLDIER_ANT_INITIAL_HEALTH = 3

COLONY_INITIAL_BREAD = 0
COLONY_INITIAL_GRASS = 0

GENERATE_WORKER_BREAD_AMOUNT = 2
GENERATE_SOLDIER_GRASS_AMOUNT = 50

ANT_MAX_VIEW_DISTANCE = 2
ANT_MAX_ATTACK_DISTANCE = 2
ANT_ATTACK_DAMAGE = 2


CHAT_LIMIT = 2
MAX_MESSAGE_LENGTH = 10

GAME_MAXIMUM_TURN_COUNT = 40
RATE_DEATH_RESOURCE = 1

MAP_WIDTH = 20
MAP_HEIGHT = 10

BASE_MAX_ATTACK_DISTANCE = 2
BASE_ATTACK_DAMAGE = 2